<p class="meta">
    
    <a href="http://www.facebook.com/share.php?u={{ site.url }}{{ site.baseurl }}/{{ page.baseurl }}/{{ page.url }}&title={{ page.title }}" target="_blank"><i class="fa fa-facebook-square"></i></a>
    
    <a href="http://twitter.com/home?status={{ page.title }}+{{ site.url }}{{ site.baseurl }}/{{ page.baseurl }}/{{ page.url }}" target="_blank"><i class="fa fa-twitter-square"></i></a>
    
    <a href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}/{{ page.baseurl }}/{{ page.url }}" target="_blank"><i class="fa fa-google-plus-square"></i></a>
    
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}/{{ page.baseurl }}/{{ page.url }}&title={{ page.title }}&source=openpuglia.org" target="_blank"><i class="fa fa-linkedin-square"></i></a>

    
</p>