---
layout: default
---
<article {% if page.feature-img %} class="feature-image"{% endif %}>
    
  <header style="background-image: url('{{site.url}}{{site.baseurl}}/img/{{page.feature-img}}'); opacity: 0.7; filter: alpha(opacity=70); background-color: #ffffff;">
    {% include social_share.html %}  
    <h1 class="title" style="color: #3399FF;">{{ page.title }}</h1>
    <p class="meta">
    {{ page.date | date: "%B %-d, %Y" }}
    {% if page.author %} - {{ page.author }} 
        {% if page.linkedin %}
            <a href=" {{ page.linkedin }} " target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
        {% endif %}
        {% if page.twitter %}
            <a href=" {{ page.twitter }} " target="_blank">
                <i class="fa fa-twitter"></i>
            </a> 
        {% endif %}
        {% if page.email %}
            <a href="mailto: {{ page.email }} " target="_blank">
                <i class="fa fa-envelope"></i>
            </a>
        {% endif %}
        
    {% endif %}
    </p> 
      
     
      
  </header>
    
    {% if page.video %}
      {% include video.html %}
    {% endif %} 
    
    {% include storify.html %}
    
    {% include content.html %} 
    
    <!-- Disqus -->  
    {% if site.theme.disqus_shortname %}
      {% include disqus.html %}
    {% endif %}  
      
    <!-- Facebook -->
    {% if site.theme.facebook_comments %}
        {% include facebook.html %}
    {% endif %}
      
</article>